<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WOWOWOW</title>
</head>
<style>
	body{
		text-align: center;
	}
</style>

<body>
	 <h1>Login</h1>
	 <form class="site-form" action="{%url 'accounts:pagelogin' %}" method="post">
	 	{% csrf_token %}
	 	<div id="flexbox-container">
	 	{{form.as_p}}
	 	</div>
	 	<input type="submit" value="Login">
	 </form>
</body>
