<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WOWOWOW</title>
</head>
<style>
	body{
		text-align: center;
	}
</style>

<body>
	<h1>Silahkan Login</h1>
	{% if not user.is_authenticated %}
	<a href="{%url 'accounts:pagelogin' %}">Klik aje bro</a>
	{% endif %}
</body>
