<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WOWOWOW</title>
</head>
<style>
	body{
		text-align:center;
	}
</style>

<body>
	<h1>Login berhasil</h1>
	{% if user.is_authenticated %}
	<h3>Welcome {{ user.username }}!</h3>
	<form class="logout-link" action="{%url 'accounts:logoutpage' %}" method="post">
		{% csrf_token %}
		<button type="submit">Logout</button>
	</form>
	{% endif %}
	
</body>
